* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --blackbackround: #18181a;
    --black:#101010;
    --white: #f6f1f1;
    --blue: #6495ed;
    --darkblue: rgb(66, 98, 158);
    --orange: #cca16f;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    /* typescale 1.250 major third */
    h1 {
        font-size:  3.815rem;
        color: var(--white);
    }
    h2 {
        color: var(--black);
        font-size: 3.052rem;
    }
    h3 {
        color: var(--black);
        font-size: 2.441rem;
    }
    h4 {
        font-size: 1.953rem;
    }
    h5 {
        font-size: 1.563rem;
    }
    h6 {
        font-size: 1.25rem;
    }
    small {
        font-size: 0.8rem;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color:#18181a ;
    padding: 0rem 3rem;
    .logo {
    color: var(--orange);
    text-decoration: none;
    font-weight: bold;
    }
    
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        a {
        color: whitesmoke;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            text-decoration-color: steelblue;
            color: var(--white);
            text-underline-offset: 4px;
            text-decoration-thickness: 2px;
            }
        }
    }
    .anmeldung {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        .signin {
            color: var(--orange);
            text-decoration: none;
            &:hover {
                color: var(--blue);
            }
        }
        .icon svg {
            color: #c2bebe;
            &:hover {
                color: var(--orange);
            }
        }
    }
}


.herosection {
    height: 60vh;
    background-image: url(./Images/heropic.jpeg);
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
    z-index: 0;
    .herotext {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.281);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        z-index: 1;
        h1 {
            color: var(--white);
        }
        button {
            background-color: var(--blue);
            border: none;
            padding: .9375rem 1.5rem;
            border-radius: 10rem;
            font-weight: bold;
            color: var(--white);
            font-size: 1.125rem;
            cursor: pointer;
            &:hover {
                background-color: var(--orange);
            }
        }
    }
    .herosection h1, .herosection button {
        position: relative;
        z-index: 2;
    }
}

main {
    .card-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        height: auto;
        padding: 4rem 6rem;
        width: 100%;
        .servicecards {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            flex-wrap: wrap;
            .card {
                background-color: var(--orange);
                border-radius: .625rem;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                padding: 2rem 2rem;
                width: auto; 
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1.5rem;
                transition: transform 0.3s ease;
                &:hover {
                    cursor: pointer;
                    ;
                    transform: scale(1.05);
                    background-color: cornflowerblue;
                    p {
                        color: var(--black);
                    }
                    h5 {
                        color: var(--black);
                    }
                }
                h5 {
                    margin-bottom: .625rem;
                    color: var(--white);
                }
                img {
                    width: 100%;
                    border-radius: .625rem;
                }
                p {
                    font-weight: bold;
                    color: var(--black);
                }
            }
        }
    }
    .logosection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4rem 6rem;
        height: auto;
        background-color: rgb(66, 98, 158);
        gap: 3rem;
        h2 {
            align-self: center;
            color: var(--white);
        }
        .partners {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            gap: 5rem;
            div {
                display: flex;
                flex-direction: column;
                text-align: start;
                gap: 2rem;
                width: 21.875rem;
                img {
                    width: 100%;
                    border-radius: .3125rem;
                }
                h5 {
                    color: rgb(227, 222, 222);
                }
                p {
                    color: var(--black);
                }
                a {
                    color: rgb(190, 200, 200);
                    text-decoration: none;
                    align-self: start;
                    font-weight: lighter;
                    &:hover {
                        color: whitesmoke;
                    }
                }
            }
        }
    }
    .emailsection {
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4rem 6rem;
        .mailtext {
            width: calc(100% / 2);
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            text-align: center;
            gap: 3rem;
            h4 {
                line-height: 3rem;
            }
            .mailicon {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1.5rem;
                width: calc(50% - 0.5rem);
                h5 a {
                    text-decoration: none;
                    color: #6495ed;
                    &:hover {
                        color: var(--orange);
                    }
                }
            }
            
        }
        .emailform {
            width: calc(50% - 0.5rem);
            display: flex;
            flex-direction: column;
            gap: 3rem;
            background-color: var(--darkblue);
            padding: 3rem;
            margin: 0rem 3rem;
            border-radius: 1rem;
            h4 {
                color: var(--orange);
            }
            form {
                display: flex;
                flex-direction: column;
                gap: .625rem;
            }
            label {
                display: block;
                margin-bottom: 5px;
                color: var(--white);
            }
            input, textarea {
                width: 100%;
                padding: 10px;
                margin-bottom: 15px;
                border: 1px solid rgb(150, 159, 162);
                border-radius: 4px;
            }
            input::placeholder, textarea::placeholder {
                color: rgb(175, 173, 173);
            }
        }
        
        
        
        

        
        .submitbutton {
            background-color: var(--orange);
            color: white;
            font-weight: bold;
            padding: .9375rem 1.25rem;
            border: none;
            border-radius: 2rem;
            cursor: pointer;
            &:hover {
                background-color: rgb(222, 155, 88);
            }
        }
    }
    .gebrauchtwagen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding: 4rem 3rem;
        form {
            button {
                background-color: peru;
        border: none;
        padding: .9375rem 1.25rem;
        border-radius: 10rem;
        font-weight: bold;
        color: var(--white);
        font-size: 1.125rem;
        cursor: pointer;
        &:hover {
            background-color: var(--blue);
        }
            }
        }
    }
}
.testing {
    background-color: rgb(198, 198, 198);

}
footer {
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blackbackround);
    color: var(--white);
    padding: .3125rem 3rem;
    gap: 3rem;
    ul {
        display: flex;
        list-style-type: none;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    small {
        color: rgb(96, 94, 94);
    }
}

footer a { 
    color: rgb(234, 228, 228);
    text-decoration: none;
    &:hover {
        color: rgb(243, 228, 217);
    }
}

