* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --blackbackround: #18181a;
    --black:#101010;
    --white: #f6f1f1;
    --blue: #5c8adf;
    --darkblue: #5879b6;
    --orange: #da9e59;
    --backroundblue: #dfe5e7;
    --backroundwhite: #eff1f2;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    /* typescale 1.250 major third */
    h1 {
        font-size:  4vw;
        color: var(--white);
    }
    h2 {
        color: var(--black);
        font-size: 3.052rem;
    }
    h3 {
        color: var(--black);
        font-size: 2.441rem;
    }
    h4 {
        font-size: 2.5vw;
    }
    h5 {
        font-size: 1.563rem;
    }
    h6 {
        font-size: 1.25rem;
    }
    small {
        font-size: 0.8rem;
    }
    #back-to-top {
        position: fixed; 
        bottom: 1.25rem; 
        right: 1.25rem;
        z-index: 99;
        font-size: 16px;
        border: none;
        outline: none;
        background-color: rgba(0, 0, 0, 0.5); /* Halbtransparenter Hintergrund */
        color: rgba(255, 255, 255, 0.607);
        text-decoration: none;
        cursor: pointer;
        padding: 15px;
        border-radius: 1rem;
        transition: background-color 0.3s; /* Sanfte Übergänge (nur für Hover) */
        &:hover {
            background-color: rgba(0, 0, 0, 0.59);
        }
    }
}

header {
    position: sticky; 
    top: 0;
    transition: top 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#000000e2 ;
    padding: 2rem 2rem;
    .logo {
    color: var(--darkblue);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.5rem;
    flex-wrap: wrap;
    }
    
    .headernav {
        justify-content: center;
        align-items: center;
        justify-self: center;
        ul {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            gap: 2rem;
            padding: 0 2rem;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    color: whitesmoke;
                    font-size: 1rem;
                    &:hover {
                        text-decoration: underline;
                        text-decoration-color: var(--blue);
                        color: var(--white);
                        text-underline-offset: .1875rem;
                        text-decoration-thickness: 2px;
                    }
                }
                }
        }
    }
    .anmeldung {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        .signin {
            color: var(--orange);
            text-decoration: none;
            font-size: 1rem;
            &:hover {
                color: var(--blue);
            }
        }
        .icon svg {
            color: #c2bebe;
            &:hover {
                color: var(--orange);
            }
        }
    }
}


#herosection {
    height: 60vh;
    background-image: url(./Images/heropic.jpeg);
    background-position: center;
    position: relative;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    scroll-margin-top: 8rem;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.552); /* added dark layer*/
    z-index: 1;
    }
    .herotext {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.223);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4.5rem;
        z-index: 2;
        h1 {
            color: var(--white);

        }
        button {
            background-color: #da9e59b6;
            border: none;
            padding: .625rem 1.5rem;
            border-radius: 10rem;
            font-weight: bold;
            color: var(--white);
            font-size: 1.125rem;
            cursor: pointer;
            transition: backround-color 0.3s ease;
            &:hover {
                background-color: #da9e59c8;
            }
            &:active {
                background-color: var(--darkblue);
            }
        }
    }
    #herosection h1, #herosection button {
        position: relative;
        z-index: 2;
    }
}

main {
    .card-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        height: auto;
        padding: 4rem 6rem;
        width: 100%;
        background-color: var(--backroundwhite);
        .servicecards {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            flex-wrap: wrap;
            .card {
                background-color: var(--orange);
                border-radius: .625rem;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                padding: 2rem 1rem;
                width: auto; 
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1.5rem;
                transition: transform 0.3s ease;
                &:hover {
                    cursor: pointer;
                    ;
                    transform: scale(1.05);
                    background-color: var(--blackbackround);
                    p {
                        color: var(--white);
                    }
                    h5 {
                        color: var(--orange);
                    }
                }
                h5 {
                    margin-bottom: .625rem;
                    color: var(--white);
                }
                img {
                    width: 100%;
                    border-radius: .625rem;
                }
                p {
                    font-weight: bold;
                    color: var(--black);
                }
            }
        }
    }
    .logosection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4rem 6rem;
        height: auto;
        background-color: #5879b6;
        gap: 3rem;
        h2 {
            align-self: center;
            color: var(--white);
        }
        .partners {
            flex-wrap: wrap;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            gap: 5rem;
            div {
                display: flex;
                flex-direction: column;
                text-align: start;
                gap: 2rem;
                width: 20rem;
                padding: 0rem .625rem;
                img {
                    width: 100%;
                    border-radius: .3125rem;
                }
                h5 {
                    color: rgb(227, 222, 222);
                }
                p {
                    color: var(--black);
                    font-size: 1.125rem;
                }
                a {
                    color: rgb(190, 200, 200);
                    font-size: 1.125rem;
                    text-decoration: none;
                    align-self: start;
                    font-weight: lighter;
                    &:hover {
                        color: whitesmoke;
                    }
                }
            }
        }
    }
    .emailsection {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 4rem 4rem;
        background-color: var(--backroundwhite);
        .mailtext {
            width: calc(100% / 2);
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            text-align: center;
            gap: 3rem;
            h4 {
                line-height: 3rem;
            }
            p {
                font-size: 1.125rem;
                color: grey;
                line-height: 2rem;
            }
            .mailicon {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1.5rem;
                width: calc(50% - 0.5rem);
                h5 a {
                    text-decoration: none;
                    color: #6495ed;
                    &:hover {
                        color: var(--orange);
                    }
                }
            }
            
        }
        .emailform {
            width: 40%;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            background-color: var(--darkblue);
            padding: 3rem;
            margin: 3rem;
            border-radius: 1rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            h4 {
                color: var(--white);
                justify-self: center;
                line-height: 3rem;
            }
            form {
                display: flex;
                flex-direction: column;
                gap: .3125rem;
            }
            label {
                display: block;
                margin-bottom: 5px;
                color: var(--white);
            }
            input, textarea {
                width: 100%;
                padding: 10px;
                margin-bottom: 15px;
                border: 1px solid rgb(150, 159, 162);
                border-radius: .3125rem;
            }
            input::placeholder, textarea::placeholder {
                color: rgb(175, 173, 173);
            }
        }
        
        .submitbutton {
            background-color: var(--orange);
            color: white;
            font-weight: bold;
            padding: .9375rem 1.25rem;
            border: none;
            border-radius: 2rem;
            cursor: pointer;
            &:hover {
                background-color: rgb(201, 138, 75);
            }
        }
    }
    .gebrauchtwagen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding: 4rem 3rem;
        background-color: var(--backroundblue);
        p {
            font-weight: bold;
            color: var(--blue);
            font-size: 1.5rem;
        }
        form {
            flex-wrap: wrap;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2.125rem;
            font-size: 1.3125rem;
            label {
                font-weight: bold;
                color: rgb(159, 158, 158);

            }
            .vehicle-type, .category {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
            }
            .typebutton {
                background-color: peru;
                border: none;
                padding: .4375rem 1.25rem;
                border-radius: 10rem;
                font-weight: bold;
                color: var(--white);
                font-size: 1.125rem;
                cursor: pointer;
                &:hover {
                background-color: var(--blue);
                }
            }
        }
    }
    .neuwagen {
        display: flex; 
        flex-direction: column;
        justify-content: center; /* not working */
        align-items: center;
        text-align: center; /* not working */
        margin: 0;
        padding: 4rem 6rem ; /* not working */
        width: 100%;
        height: auto;
        gap: 3rem;
        h5 {
            color: var(--blue); /* not working */
        }
        h2 {
            align-self: center; /* not working */
        }
    }
    .nw {
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center; 
        flex-direction: column;
        gap: 2rem;
        background-color: var(--orange);
        padding: 3rem;
        border-radius: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        p {
            color: var(--white);
            font-weight: bold;
            font-size: 1.3125rem;
        }
        hr {
            width: 80%;
            color: #c2bebe;
        }
        .submitbutton2 {
                color: white;
                font-weight: bold;
                padding: .9375rem 1.25rem;
                border: none;
                border-radius: 2rem;
                cursor: pointer;
                background-color: var(--blue);
                align-self: center;
                &:hover {
                    background-color: #6392ea;
                    color: #f0f5f7;
                }
        }
    }
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--blackbackround);
    color: var(--white);
    padding: .3125rem 3rem;
    flex-wrap: wrap;
    gap: 3rem;
    ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        margin-top: 2.5rem;
    }
    .logo {
        color: var(--darkblue);
        text-decoration: none;
        font-weight: bold;
        letter-spacing: 0.5rem;
        padding-right: 2rem;
        &:hover {
            color: var(--darkblue);
        }
    }
    .cr {
        color: rgb(96, 94, 94);
        margin-bottom: 1.5rem;
        align-self: center;
        font-size: small;
        justify-content: center;
        align-items: center;
    }
}

footer a { 
    color: rgb(234, 228, 228);
    text-decoration: none;
    &:hover {
        color: rgb(243, 228, 217);
    }
}

